[Unit]
Description=Control Me: For controlling bad habits and distractions
Documentation=https://github.com/Moses-Bejon/Control_Me
Wants=network-online.target
After=network-online.target

[Service]
# Security sandbox
ProtectProc=invisible
SystemCallArchitectures=native
ProtectSystem=strict
ProtectHome=read-only
DevicePolicy=closed
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
ProtectKernelLogs=yes
SystemCallFilter=~@clock @mount @swap @cpu-emulation @keyring @module @raw-io @resources @timer @setuid
SystemCallErrorNumber=EPERM
NoNewPrivileges=yes
PrivateTmp=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
ProtectClock=yes
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RestrictAddressFamilies=AF_UNIX AF_INET
RestrictNetworkInterfaces=lo
SecureBits=noroot-locked
# Workaround to ensure paths exist
ExecCondition=+/usr/bin/mkdir -p %h/.control_me
ExecCondition=+/usr/bin/mkdir -p %h/.cache/pip
ReadWritePaths=%h/.control_me
ReadWritePaths=%h/.cache/pip

Environment=SCRLLM_SYSTEMD_UNIT=%n
# Enable Ollama
#Environment=OLLAMA=1
# Your API key for the LLM
#Environment=LLM_API_KEY=YOUR_API_KEY
# (Optional) Your preferred model ID
#Environment=LLM_MODEL_ID=minicpm-v:latest
# Screenshots path
Environment=SCREENSHOT_DIRECTORY=%h/Pictures/Screenshots
# .env location
Environment=SCRLLM_ENV_FILE=%h/.control_me/env

WorkingDirectory=/usr/lib/Control_Me
ExecStart=/usr/bin/bash Control_Me.sh
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
